<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ title }}</title>
  {% block head %}
  {% endblock %}
</head>
<body>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% block tail %}
  {% endblock %}
</body>
</html>
