---
title: 404
layout: layouts/base
permalink: 404.html
---

{% block content %}
  <article>
    <header>
      <h1>{{ title }}</h1>
      <p>Four-oh-four!</p>
      <p>Author: {{ pkg.author }}</p>
    </header>
    <section>
      <p>Sorry, try again.</p>
    </section>
  </article>
{% endblock %}
